{%extends 'production/layout.html' %}
{%block content%}

		

    <body>
    <div class="container">
    <p class="text-justify">
        <h5>
    Royaume Des Douceurs est une application conçue et réalisée pour une production industrielle: 
    le cas d'une confiserie qui interagit avec la base de données industriedb. 
    Le bonbon est un produit consommé à tout age. 
    C'est un plaisir quotidien.
    Nous sommes tous consommateurs peu importe l'occasion mais nous ne produisons pas.
    L'objectif de Royaume Des Douceurs est d'implenter une industrie de production de bonbons 
    et booster l'économie du continent africain.
        </h5>
        <img src="static/img/bb_main.png" alt="Bootstrap" class="rounded mx-auto d-block">
    </p>
    </div>
    </body>
    

{%endblock%}