{% extends 'production/layout.html' %}

						{% block content %}
							<center><h1><big><i>Liste des Confiseries...</i></big></h1></center>
                           <div > <a href="{% url 'ajout-confiserie' %}"><button type="button" class="btn btn-info">Ajouter</button></a></div>
                        <br>
								<table class="table table-bordered table-striped table-hover">
								  <thead class="table-dark">
									<tr>
									  <th>Nom</th>
									  <th>Adresse</th>
                                      <th>Modification</th>
                                      <th>Suppression</th>
									  <th>Details</th>
									</tr>
								  </thead>
								  <tbody>            
									{% for confiserie  in  confiseries %} 
									<tr class="success">
									  <td>{{confiserie.nom}}</td>
									  <td>{{confiserie.adresse}}</td>
                                      <td><a href="{% url 'modifier-confiserie' confiserie.id %}"><button type="button" class="btn btn-warning">Modifier</button></a></td>
                                      <td><a href="{% url 'supprimer-confiserie' confiserie.id %}"><button type="button" class="btn btn-danger">Supprimer</button></a></td>
									  <td><a href="{% url 'details-confiserie' confiserie.id %}"><button type="button" class="btn btn-dark">Details</button></a></td>
									</tr>
									{% endfor %}
								  </tbody>
								</table>

						{% endblock %}