{%extends 'production/layout.html' %}

{%block content%}
<div class="row">
    <div class="col-sm-2"></div>
    
    
<div class="shadow p-4 mb-5 bg-body rounded col-md-8">
    <center>

        <h1><big><i>Details d'un Produit...</i></big></h1>
    </br>
    {% comment %} 
    {% for produit in produit.produits.all %}
       {{produit}}
    {% endfor %}
    {% endcomment %}
    <table class="table table-bordered table-striped table-hover">
        <tbody>            

            <tr class="success"> 
            <td><strong>Nom:</strong> {{produits.nom}}</td>
            </tr>

            <tr class="success"> 
            <td><strong>Conditionnement:</strong> {{produits.conditionnement}}</td>
            </tr>

            <tr class="success"> 
            <td><strong>Quantite:</strong> {{produits.quantite}}</td>
            </tr>

            
        </tbody>
    </table>


    </center>
</div>
</div> 
{%endblock%}